/* service page - start
==================================================================================================== */

/* service section - start */
.service_section {
	&.bg_gray {
		background-color: #f5f6fa;
	}
}
/* service section - end */


/* service grid - start */
.service_grid {
	max-width: 370px;
	margin: 50px auto 0px;
	.item_image {
		overflow: hidden;
		position: relative;
	}
	.item_content {
		z-index: 1;
		max-width: 330px;
		padding: 40px 35px;
		position: relative;
		text-align: center;
		margin: -40px auto 0px;
		background-color: #ffffff;
		&.bg_gray {
			background-color: #f5f6fa;
		}
	}
	.bg_icon {
		top: 50%;
		left: 50%;
		z-index: -1;
		opacity: 0.04;
		max-width: 155px;
		position: absolute;
		transform: translate(-50%, -50%);
	}

	.item_title {
		line-height: 1;
		font-size: 22px;
		font-weight: 500;
		margin-bottom: 12px;
	}

	p {
		margin: 0px;
		line-height: 1.867;
	}

	.icon_btn {
		top: -20px;
		right: 15px;
		z-index: 2;
		width: 40px;
		height: 40px;
		color: #ffffff;
		font-size: 13px;
		line-height: 42px;
		position: absolute;
		background-color: $default_yellow;
		&:before {
			background: $default_orange;
		}
	}
	&:hover {
		.icon_btn {
			&:before {
				left: 0px;
				width: 100%;
				right: auto;
			}
		}
	}
}
/* service grid - end */


/* service grid 2 - start */
.service_grid_2 {
	max-width: 570px;
	margin: 30px auto 0px;
	background-color: #f5f6fa;
	.item_image {
		display: block;
		overflow: hidden;
		position: relative;
	}

	.item_content_wrap {
		padding: 60px 50px 68px;
	}
	.item_icon {
		float: left;
		width: 90px;
		height: 90px;
		line-height: 92px;
		margin-right: 30px;
		text-align: center;
		border-radius: 100%;
	}
	.item_content {
		display: table;
	}
	.item_title {
		line-height: 1;
		font-size: 24px;
		margin-bottom: 15px;
	}
}
/* service grid 2 - end */


/* service boxed - start */
.service_boxed {
	max-width: 270px;
	padding: 45px 35px;
	margin: 30px auto 0px;
	.item_icon {
		height: 80px;
		display: flex;
		align-items: center;
		margin-bottom: 27px;
		justify-content: center;
	}

	.item_title {
		line-height: 1;
		font-size: 22px;
		margin-bottom: 15px;
	}
	p {
		margin-bottom: 18px;
		color: $default_black;
	}

	.text_btn {
		span {
			&:before {
				background: $default_black;
			}
		}
		i {
			color: $default_black;
		}
	}

	&.text-white {
		p,
		.item_title {
			color: #ffffff;
		}
		.text_btn {
			span {
				color: #ffffff;
				&:before {
					background: #ffffff;
				}
			}
			i {
				color: #ffffff;
			}
		}
	}
}
/* service boxed - end */


/* service list layout boxed - start */
.service_listlayout_boxed {
	display: flex;
	max-width: 570px;
	padding: 50px 55px;
	align-items: center;
	margin: 30px auto 0px;
	background-color: #ffffff;
	.item_image {
		float: left;
		max-width: 140px;
		min-width: 140px;
		overflow: hidden;
		margin-right: 30px;
		border-radius: 100%;
	}
	.item_content {
		display: table;
	}
	.item_title {
		line-height: 1;
		font-size: 22px;
		margin-bottom: 15px;
	}
	p {
		margin-bottom: 15px;
	}
	.text_btn {}
}
/* service list layout boxed - end */


/* service split - start */
.service_split {
	max-width: 590px;
	margin: 0px auto;
	.item_image,
	.item_content {
		width: 50%;
		float: left;
		display: inline-block;
	}
	.item_image {
		display: flex;
		height: 330px;
		img {
			object-fit: cover;
		}
	}

	.service_boxed {
		margin: 0px;
		max-width: 100%;
		padding: 48.5px 35px;
	}
}
/* service split - end */


/* service card - start */
.service_card {
	max-width: 370px;
	margin: 30px auto 0px;
	.item_image {
		display: block;
		overflow: hidden;
		position: relative;
		>img {
			transition: $default_transition;
		}
	}
	&:hover {
		.item_image {
			>img {
				transform: scale(1.05);
			}
		}
	}

	.item_content {
		z-index: 2;
		max-width: 320px;
		position: relative;
		padding: 25px 30px;
		padding-right: 75px;
		margin: -30px auto 0px;
		background-color: #ffffff;
	}

	.item_type {
		display: block;
		line-height: 1;
		font-size: 15px;
		margin-bottom: 10px;
		color: $default_orange;
		font-family: $secondary_font;
	}

	.item_title {
		line-height: 1;
		font-size: 20px;
	}

	.icon_btn {
		top: 50%;
		right: 30px;
		width: 45px;
		height: 45px;
		font-size: 14px;
		line-height: 47px;
		position: absolute;
		transform: translateY(-50%);
	}
}
/* service card - end */

/* Gallery section - start  */
.gallery_section{
	padding: 50px 0px 100px;
}
.border_shape{
	position: relative;
	width: 100%;
	padding: 50px 0px;
}
.border_shape::before {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    border-top: 20px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 50vw solid #7754f4;
    left: 0;
    top: -20px;
    z-index: 99;
}
.border_shape::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-right: 50vw solid #62b815;
    border-bottom: 0px solid transparent;
    right: 0;
    top: -20px;
    z-index: 99;
}
.bg_blue{
	background-color: #6d40dd;
}
.section_title h2{
	color: #ffffff;
}
 
.img-wrapper {
	position: relative;
	img {
		width: 100%;
	}
}
.img-overlay {
	background: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	cursor: pointer;
	i {
	  color: #fff;
	  font-size: 3em;
	}
  }
  
  #overlay {
	background: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
	// Removes blue highlight
	-webkit-user-select: none;
	-moz-user-select: none;    
	-ms-user-select: none; 
	user-select: none; 
	img {
	  margin: 0;
	  width: 80%;
	  height: auto;
	  object-fit: contain;
	  padding: 5%;
	  @media screen and (min-width:768px) {
		  width: 60%;
	  }
	  @media screen and (min-width:1200px) {
		  width: 50%;
	  }
	}
  }
  
.col-lg-4.col-md-6.col-sm-6.col-xs-12 {
    padding-left: 0px;
    padding-right: 0px;
}

  #nextButton {
	color: #fff;
	font-size: 2em;
	transition: opacity 0.8s;
	&:hover {
	  opacity: 0.7;
	}
	@media screen and (min-width:768px) {
	  font-size: 3em;
	}
  }
  
  #prevButton {
	color: #fff;
	font-size: 2em;
	transition: opacity 0.8s;
	&:hover {
	  opacity: 0.7;
	}
	@media screen and (min-width:768px) {
	  font-size: 3em;
	}
  }
  
  #exitButton {
	color: #fff;
	font-size: 2em;
	transition: opacity 0.8s;
	position: absolute;
	top: 15px;
	right: 15px;
	&:hover {
	  opacity: 0.7;
	}
	@media screen and (min-width:768px) {
	  font-size: 3em;
	}
  }

/* Gallery section - end  */

.contact_content{
	position: relative;
}
.contact_content i {
    position: absolute;
    left: -50px;
    top: -10px;
    border: 1px solid #ddd;
    font-size: 24px;
    padding: 10px;
    border-radius: 50%;
	color: #7754f4
}
.table_info tr td{
	font-size: 16px;
	color: #000;
}

#map_canvas {
    width: 500px;
    height: 300px;
}
.address{
	margin-top: 40px;
}
.address h4{
	position: relative;
	font-size: 16px;
	font-weight: 400;
}
.address i {
    position: absolute;
    left: -35px;
    border: 1px solid #ddd;
    font-size: 18px;
    padding: 10px;
    border-radius: 50%;
    top: 28px;
	color: #6d40dd;
}
.address p {
    font-size: 14px;
    line-height: 20px;
    margin: 0px;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #e4e5e7;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    box-shadow: 1px 1px 5px -1px #9e9898;
    -ms-user-select: none;
    user-select: none;
}
.panel-default > .panel-heading a {
    display: block;
    padding: 10px 15px;
    color: #6b6565;
}
.panel-default > .panel-heading a:after {
    content: "";
    position: relative;
    top: -5px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    border-radius: 50%;
    line-height: 1;
    border: 1px solid #ddd;
    padding: 5px 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: -webkit-transform .25s linear;
    transition: transform .25s linear;
    transition: transform .25s linear, -webkit-transform .25s linear;
    -webkit-transition: -webkit-transform .25s linear;
}  
.panel-default>.panel-heading a[aria-expanded="true"] {
	background-color: #eee;
}  
.panel-default>.panel-heading a[aria-expanded="true"]:after {
	content: "\2212";
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.panel-default>.panel-heading a[aria-expanded="false"]:after {
	content: "\002b";
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
/* Video - Section  - Start
=========================== */

.popup-btn, .close-btn {
	width: 100px;
	height: 50px;
	display: block;
	margin: 50px auto;
	cursor: pointer; 
	border: 2px solid black;
	background-color: white;
}
.popup-btn:hover {
	color: white;
	background-color: black;
}
.video-popup {
	display: none;
	width: 100%;
	height: 100vh;
	margin: auto;
	position: fixed;
	top: 0;
	boxshadow: 10px 10px 10px 10px black;
}
.popup-bg {
	background: rgba(0,0,0,0.8);
	width: 100%;
	height: 100vh;
	position: absolute;
}
.popup-content {
	background: black;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 800px;
	height: auto;
}


/* Video - Section  - End
=========================== */


/* service page - end
==================================================================================================== */